name: Cypress Test

on: [push, pull_request]

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install dependencies
        run: npm ci
      - name: List Cypress specs
        run: ls -R cypress/e2e
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          command: npm run cypress:run
         
